.catalog{
	position: relative;
}
.catalog__box {
	position: absolute;
	left: -24px;
	top: 44px;
	z-index: 9999;
	visibility: hidden;
	pointer-events: none;
	transform: translate(0, 30px);
	transition: all .25s linear 0s;
	&.catalog-open{
		visibility: visible;
		pointer-events: all;
		transform: translate(0, 0px);
	}
}
.catalog__body {
	padding: 35px 0px 0px 0px;
	background: #FFFFFF;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	display: flex;
}
.catalog__menu {
	padding: 0 18px 4px 24px;
	min-width: 291px;
	height: 484px;
	overflow-y: auto;
}
.catalog__menu::-webkit-scrollbar{
	width: 2px;
	background: rgba(#7B7B7B, 0.1);
	border-radius: 99px;
}
.catalog__menu::-webkit-scrollbar-track{
	width: 2px;
	background: rgba(#7B7B7B, 0.1);
	border-radius: 99px;
}
.catalog__menu::-webkit-scrollbar-thumb{
	width: 4px;
	background: #B1B1B1;
	border-radius: 99px;
}
.menu-catalog {}
.menu-catalog__item{
	width: 100%;
	display: block;
	padding: 12px 16px;
	font-size: 16px;
	line-height: 147%;
	color: $mainColor;
	background: transparent;
	border-radius: 8px;
	cursor: pointer;
}
.menu-catalog__item.current{
	background: rgba(32, 144, 65, 0.1);
	color: $green;
}
.menu-catalog__item:hover {
	color: $green;
}
.catalog__choice {
	padding: 0 50px 0 32px;
	min-width: 291px;
	height: 484px;
	overflow-y: auto;
}
.catalog__choice::-webkit-scrollbar{
	width: 2px;
	background: rgba(#7B7B7B, 0.1);
	border-radius: 99px;
}
.catalog__choice::-webkit-scrollbar-track{
	width: 2px;
	background: rgba(#7B7B7B, 0.1);
	border-radius: 99px;
}
.catalog__choice::-webkit-scrollbar-thumb{
	width: 4px;
	background: #B1B1B1;
	border-radius: 99px;
}
.choice-catalog {}
.choice-catalog__list {
	display: none;
	&.open{
		display: block;
	}
	& li + li {
		margin: 16px 0 0;
	}
}
.choice-catalog__link {
	font-size: 14px;
	line-height: 157%;
	color: $moonGray;
}

.catalog__icon.active span{
	transform: translate(0, -50%) scale(0);
}
.catalog__icon.active::before{
	top: 50%;
	transform: translate(0%, -50%) rotate(45deg);
}
.catalog__icon.active::after{
	bottom: auto;
	top: 50%;
	transform: translate(0%, -50%) rotate(135deg);
	width: 100%;
}