.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(#000000, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease 0s;
	z-index: 30;
	&.open-modal{
		opacity: 1;
		visibility: visible;
	}
	&.favorite-modal{
		z-index: 20;
	}
}
.modal.modal-choice{
	position: fixed;
	overflow-y: auto;
}
.modal__content {
	display: flex;
	flex-direction: column;
	padding: 16px;
	width: 100%;
}
.modal-choice .modal__content{
	margin: 20px 16px;
	max-width: 460px;
	background: $darkGreen;
	border-radius: 5px;
	position: relative;
	padding: 72px 66px 64px;
	text-align: center;
	color: $white;
}
.modal__close{
	width: 24px;
	height: 24px;
	background: transparent;
	position: absolute;
	top: 16px;
	right: 16px;
}
.modal__title {
	font-size: 20px;
	line-height: 146%;
	margin: 0 0 32px;
}
.modal__subtitle {
	font-size: 14px;
	line-height: 157%;
	margin: 0 0 32px;
}
.modal-choice .modal__button {
	margin: 0 16px;
	background: $green;
	border-radius: 5px;
	min-height: 38px;
	padding: 6px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 157%;
	color: $white;
	transition: all .15s ease-in-out 0s;
	&:hover{
		background: $greenHover;
	}
}
.modal__text {
	text-align: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 112%;
	margin: 0 0 40px;
	color: $white;
}
.modal__buttons {
	display: flex;
}
.modal__button {
	flex: 0 1 50%;
	min-height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	padding: 8px;
	font-size: 14px;
	line-height: 157%;
	&:not(:last-child){
		margin: 0 16px 0 0;
	}
	&.cancel{
		background: #FFFFFF;
		color: green;
	}
	&.delete{
		background: #DC3A3A;
		border: 1px solid #DC3A3A;
		color: $white;
	}
}
.cancel {}
.delete {}